@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Book.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Medium.ttf);
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Black.ttf);
    font-style: black;
    font-weight: 900;
}
